body{
    box-sizing: border-box;
    margin: 0;
}
h1{
    color: white;
    margin: 0;
    padding:100px;
}
h2{
    color: black;
    margin-top:40px;
    margin-bottom: 10px;
}
h3{
    color: black;
    margin-top:40px;
    margin-bottom: 40px;
}
h4{
    color: black;
    margin-top:
    margin-bottom: auto;
}
h5{
    color: black;
}
.col-md-4>.thumbnail>p{
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}
p{
    font-size: 14px;
    line-height: 30px;
    color: black;
    margin: auto;
}
footer{
    background-color: #232323;
    color: #eeeff1;
    padding: 35px;
}
.gm-style-iw{
    color: black;
    padding: 5px;
    margin: 1px;
    border-radius: 5px; 
}
.navbar{
    opacity: 0.7;
    border: none;
}
.collapse>ul.nav>li>a:hover{
    background-color: gray;
    color: black;
}
.gym-location{
    color: white;
}
.align{
    margin-right: -60px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.jumbotron{
    background-color:#232323;
    height: 900px;
    margin: 0;
}
.title-heading{
    display: inline-block;
    position: absolute;
    z-index: 300;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    top: 675px;
    left: 0;
    right: 0;
    bottom: 0;
}
.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
    overflow:hidden;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.btn{
    border:none;
    text-decoration: none;
    border: none;
}
.nav-tabs>li>a{
    background-color: #eeeff1;
    color: #232323;
}
.nav-tabs>li>a:hover{
    color: #232323;
    background-color: #d9d9d9;
}
.nav-tabs>li.active > a:focus{
    color: #eeeff1;
    background-color: #232323;
}

.fa{
    position: relative;
    display: inline-block;
    color: white;
    z-index: -1;

}
.fa-5x{
    font-size: 5em;
}
.fa-1x{
    font-size: 1em;
}
.fa-1{
    color: yellow;
}
.fa-2{
    color: #005ce6;
}
.fa-3{
    color: #e60000;
}
.fa-4{
    color: green;
}
.fa-5{
    color: orange;
}
.fa-6{
    color: #cc0099;
}
.air-info-0 {
    height: auto;
    border: 1px solid rgba(215, 211, 205, 0.7);
    border-radius: 20px;
    background-color: rgba(215, 211, 205, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 3px;
    margin: 5px;
    background-color:rgba(215, 211, 205, 0.2);
}
.item{
    border: 1px solid transparent;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    min-height: 300px;
    z-index: 10;
}
.section{
    padding: 50px 0px 30px 0px;
}
.storysection, .gym-location{
    background-color: #eeeff1;
}
.importantsection{
    background-color: white;
}
.sectionaboutme{
    background-color: #ffcc99;
}
.gym-locationheading, .gym-coach{
    background-color: #232323;

}
.gym-coach-img{
    color: #232323;
    font-size: 168px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.thumbnail{
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 50px;
}
.thumbnail>p{
    font-size: 12px;
    color: #232323;
    line-height: 12px;
}
.thumbnails{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0;
    max-width: 182px;
    margin-left: auto;
    margin-right: auto; 
}
.img-shadow{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-radius{
    border-radius: 5px;
}
.thumbnail>.btn {
    padding: 10px 20px;
    background-color: #232323;
    color: white;
    border-radius: 0;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.thumbnail:hover .btn{
    color: #232323;
    background-color: white;
    border: 1px solid #232323;
}
.frame-p{
    font-size: 12px;
    color: #b1b1cd;
}
span{
    color: #232323;
    font-size: 15px;
}
.j{
    position: absolute;
    right: 0;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}
th, td {
  padding: 5px;
  text-align: left;    
}
.clearfix:after,.container:after,.row:after,.title-heading:after, .img:after, .fa:after,.btn:after
,.square1:after,.square2:after,.square3:after,.square4:after,.square5:after,.square6:after,.square7:after
,.square8:after,.span1:after,.span2:after,.span3:after,.span4:after,.span5:after,.span6:after,.span7:after
,.point1:after,.point2:after,.point3:after,.point4:after,.point5:after,.point6:after,.point7:after{ 
    content: " "; 
    display: block; 
    height: 0; clear: 
    both; visibility: 
    hidden; 
}
.fixed{
    position: fixed;
    display: inline-block;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
#skills {
    margin: 0 auto;
    width: 50%;
}

#skills li {
    position: relative;
    margin-bottom: 32px;
    padding-left: 6px;
}

.bar_container,.bar {  
    position: absolute;
    left: 0;
    height: 15px;   
    border-radius: 5px;
    content: "";
}

.bar_container {
    bottom: -15px;
    width: 100%;
    background-color: #232323;
    text-align: right;
}           

.bar {
    top: 0;
}                  
#j{
    position: absolute;
    right:0;
}
ul li{
list-style-type:none;
}
@media (max-width: 991px) {
    .nav2show{
        visibility:hidden;
    }
}
@media (min-width: 992px) {
    .row>.reverse2 { text-align: right;}
}
@media (max-width: 991px) {
    .row>.reverse1{text-align: center;}
    .row>.reverse2 { display: table-footer-group; 
        text-align: center;}
    .row>.reverse3 { display: table-header-group; 
        text-align: center;}
}